node_modules
.env
.DS_Store
dist

# 🔒 Variáveis de Ambiente e Segredos
.env*.local
*.pem
*.key
.secret

# 🚀 Build e Cache
.next/
.vite/
build/
*.tsbuildinfo

# 📝 Logs e Debug
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# 💻 Configurações de Editor e OS
.vscode/
.idea/
Thumbs.db
.Spotlight-V100
.Trashes
